.footing_container {
  display: flex;
  /* width: 80%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footing_container .input_body {
  display: flex;
  gap: 2.5%;
}

.footing_container .bbs_body {
  /* width: 100%; You can adjust this as needed */
  padding: 20px; /* Optional: Add some padding */
  align-items: center;
  justify-content: center;


}



#bar_x_spacing {
  top: 79.3%;
  left: 85%;
}



.submit_zone {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:auto;
}

.submit_button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(100, 166, 102);
  border: 1px;
  border-radius: 10px;
  color : white;
  /* font-weight: bold; */
  cursor: pointer;
}

.submit_button:hover {
  background-color: rgb(80, 136, 82);
  color: white;
}


.show_data{
  padding: 0.5rem 1rem;
  background-color: rgb(80, 136, 82);
  color: white;
  margin:auto ;

}
